
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Login</title> 
    {% load static %}
    <!-- Agrega los enlaces a Bootstrap desde un CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{% static 'nerdapp/estilos.css' %} "rel="stylesheet">
    </head>
    <body>
        {% block contenido %} 
        
        {% endblock contenido %}
    </body>
</html>
