<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Hola Mundo</title>
    
    <!-- Agrega los enlaces a Bootstrap desde un CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Contenedor principal utilizando clases de Bootstrap -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Encabezado con estilo Bootstrap -->
                <h1 class="display-4">Nerdcoud Store base</h1>
                <!-- Párrafo con fondo rojo y texto blanco, ajustado al texto y redondeado -->
                <p class="bg-danger text-white p-2 m-0 rounded d-inline-block">Esta es la prueba de Bootstrap</p>
                <!-- Contenedor separado para el botón -->
                <div class="mt-2">
                    <!-- Botón de Bootstrap -->
                    <a href="{% url 'login' %}" class="btn btn-primary">Login cuma</a>
                </div>
                <a href="{% url 'page2' %}" class="btn btn-primary">Presiona aquí para ir a la página 2</a>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <li>
        <h1>Inicio de sesión correcto</h1>
    </li>
    <li>
        <a href="#">{{ user.username }}</a>
    </li>
    {% else %}
        <h1>Sin inicio de sesión</h1>

    {% endif %}
</body>
</html>
