{% extends 'nerdapp/base.html' %} {% block title %}Index{% endblock title %}
{%block contenido %} {% load humanize %} {% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
				</div>
			</div>
		</div>

		<div class="productos-container">
			<h2 class="product-heading">Productos</h2>
			<div class="productos-list">
				{% for p in productos %}
				<div class="product-item">
					<div class="product-image">
						{% if p.imagen %}
						<img src="{{ p.imagen.url }}" alt="img product" />
						{% endif %}
					</div>
					<div class="product-details">
						<h3 class="product-title">{{ p.nombre | title }}</h3>
						<p class="product-price">${{ p.precio |intcomma }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
{% endblock contenido %}
