{% extends 'nerdapp/base.html' %} {% block title %}Index{% endblock title %}
{%block contenido %} {% load humanize %} {% load static %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body mx-auto pt-4">
                <h5 class="card-title">Pago Exitoso</h5>
                <p class="card-text">
                    Ya puede retirar sus productos en nuestra tienda <strong>Nerdcoud Store</strong> más cercana con su
                    código<br />
                    <hr>
                <div style="text-align: center;">
                    Su codigo es {{carrito}}
                </div>

                <hr>
                <div style="text-align: center;">
                    <i>
                        Gracias por ser parte de la comunidad<br />
                        Atte Equipo Nerdcoud Store
                    </i>
                </div>

                </p>
            </div>
        </div>
        <br />
    </div>
    <style>
        body {
            padding: 10px;
            box-sizing: border-box;
        }

        .product-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100vh;
        }
        .img {
            width: 60%;
            border-radius: 50px;
        }
        button {
            padding: 10px;
            border-radius: 5px;
            background-color: dodgerblue;
            color: white;
            border: none;
        }
    </style>
</body>
</html>
{% endblock contenido %}