{% extends 'nerdapp/base.html' %} {% block title %}Signup{% endblock title %}
{%block contenido %}

<!DOCTYPE html>
<html>
	<head>
		<title>Registrar usuario</title>
	</head>
	<body>
		{% load crispy_forms_tags %}
		<form action="" method="post" class="form-singup">
			<h2 class="titulo-singup">Crear Cuenta</h2>
			<br />
			<div class="contenedor-form-singup">
				{% csrf_token %} {{ form | crispy }}

				<div class="contenedor-btn-crear">
					<input type="submit" class="btn-crear" value="Guardar" />
				</div>
			</div>
		</form>
	</body>
</html>
{% endblock %}
