{% extends 'nerdapp/base.html' %} {% block title %}Index{% endblock title %}
{%block contenido %} {% load humanize %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>

<body>
    <h2>Resultados de la Búsqueda</h2>

    <p>Mostrando resultados para: <strong>{{ query }}</strong></p>

    {% if resultados %}
    <ul>
        <div class="productos-container">
            <div class="productos-list">
                {% for p in resultados %}
                <div class="product-item">
                    <div class="product-image">
                        {% if p.imagen %}
                        <img src="{{ p.imagen.url }}" alt="img product" />
                        </a><br>
                        {% endif %}
                    </div>
                    <div class="product-details">
                        <a href="{% url 'checkout' p.id_producto %}" class="product-title"
                            style="text-decoration: none; color: #04668D">
                            {{ p.nombre | title }}</a>
                        <p class="product-price">${{ p.precio |intcomma }}</p>
                        <a href="{% url 'agregar_al_carrito' p.id_producto %}" class="carrito-icon">
                            <i class="bi bi-cart-plus fs-2"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </ul>
    {% else %}
    <p>No se encontraron resultados.</p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
</body>

</html>

{% endblock contenido %}