.text-subtitulo{
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
}

/*----------------------------------PRODUCTOS-------------------------------------------*/
.productos-container {
    text-align: center;
}

.product-heading {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

.productos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    background-color: #6264eb21;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 18px;
    color: #ff0000;
}

.product-price {
    font-size: 16px;
    color: #000000;
}

/*----------------------------------SUBASTA-------------------------------------------*/
.subastas-container {
    text-align: center;
}
.subasta-item {
    background-color: #6264eb21;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 500px;
    text-align: start;
}
.subasta-image img {
    padding: 5px;
    width: 100%;
    max-height: 400px;

}
.subasta-details{
    margin-left: 2%;
}
.subasta-title{
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.96px;
    padding: 20px;
}

.subasta-price{
    color: black;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.96px;
        padding: 20px;
}

.item {
  width: 100%
}

.containerGraf {
  margin: 5px;
  width: 100%;
  height: 300px;
  white-space: nowrap;
}
.inline {
  vertical-align: middle;
  overflow-x: scroll; 
}
.inline-item {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  margin-right: -4px;
}
.flexT {
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
}

.product-item {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 100px; /* Ajusta el espacio hacia abajo */
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.productos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carrito-icon {
    position: absolute;
    bottom: -1px; /* Ajusta la posición del botón del carrito */
    right: 75px;
    margin-bottom: 50px;
    padding: 5px; /* Ajusta el espacio alrededor del botón del carrito */
    color: #fff;
    background-color: #04668d; /* Fondo opcional para el botón */
    border-radius: 50%; /* Opcional: para darle forma circular al botón */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Opcional: sombra al botón */
}